<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Interactive Lecturing</title>

        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">

        <!-- JQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="css/main.css">

    </head>

    <body>
        <div class="container">

            <div class="row">
                <div class="col-md-12"><h1><a href="/" style="text-decoration:none; color:black;">Interactive Lecturing</a></h1></div>
            </div>

            &nbsp;

            <div class="panel panel-default" id="chatPanel">
                <div class="panel-body">
                    <div id="messages">
                        <div><strong>Connected to '<%= room_code %>' as '<%= username %>'.</strong></div>
                        <div v-repeat="message_obj : messages" class="message-row">

                            <button type="submit" v-if="message_obj.liked == true" class="btn btn-success like-button" disabled v-on="click: like" data-id="{{ message_obj.uuid }}">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            </button>
                            <button type="submit" v-if="message_obj.liked == false" class="btn btn-primary like-button" v-on="click: like" data-id="{{ message_obj.uuid }}">
                                <i class="fa fa-thumbs-up" aria-hidden="true" data-id="{{ message_obj.uuid }}"></i>
                            </button>

                            {{ message_obj.message }}

                            <span class="like-count">{{ message_obj.numOfLikes }}</span>
                        </div>

                        <div class="hidden" id="cached_message"><%= cached_message %></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <form v-on="submit: send">
                        <input type="hidden" name="room_code" value="<%=room_code%>">
                        <input type="hidden" name="username" value="<%=username%>">

                        <div class="row">
                            <div class="col-xs-10">
                                <input class="form-control" v-model="message">
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary">Send</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.15/vue.min.js"></script>
        <script src="js/room.js"></script>

    </body>
</html>