<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interactive Lecturing</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">

    <!-- JQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/main.css">

</head>

<body>

    <div class="container">

        <div class="row">
            <div class="col-md-12"><h1><a href="/" style="text-decoration:none; color:black;">Interactive Lecturing</a></h1></div>
        </div>

        &nbsp;

        <div class="row">
            <div class="col-md-12">

                <% if ( typeof error_message !== 'undefined' && error_message ) { %>

                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> <%= error_message %>
                    </div>

                <% } %>

                <div class="panel panel-primary">
                    <div class="panel-heading">Student Login</div>
                    <div class="panel-body">
                        <form class="form-horizontal" action="room" method="GET">
                            <div class="form-group">
                                <label for="student-name" class="col-sm-2 col-md-2 col-lg-2 control-label">Student Name</label>
                                <div class="col-sm-10 col-md-10 col-lg-10">
                                    <input type="text" class="form-control" id="student-name" name="username" value="<%= (typeof username !== 'undefined') ? username : '' %>" placeholder="Student Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="room-code" class="col-sm-2 control-label">Room Code</label>
                                <div class="col-sm-10 col-md-10">
                                    <input type="text" class="form-control" id="room-code" name="room_code" value="<%= (typeof room_code !== 'undefined') ? room_code : '' %>"  placeholder="Room Code">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Join</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>