body {
    font-family: 'Arial';
}

span.like-count {
    color: green;
}

button.like-button {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 2px;
}

div.message-row {
    padding: 5px;
}